<ul>
  <li>
    <.link href={~p"/administration/tables"}>Tables</.link>
  </li>
  <li>
    <.link href={~p"/administration/game_types"}>Game Types</.link>
  </li>
  <li>
    <.link href={~p"/administration/players"}>Players</.link>
  </li>
  <li>
    <.link href={~p"/administration/users"}>Users</.link>
  </li>
  <li>
    <.link href={~p"/administration/roles"}>Roles</.link>
  </li>
</ul>
